/*Base colours from the :root CSS set from ???.ts*/
/*Light theme*/
/*Text Colours*/
$joplin-color-light: #32373f;
$joplin-color2-light: #ffffff;
$joplin-color3-light: #738598;
$joplin-color4-light: #2d6bdc;
$joplin-color-bright-light: #000000;
$joplin-color2-bright-light: #ffffff;
$joplin-url-color-light: #155bda;
$joplin-color-faded-light: #7c8b9e;
$joplin-code-color-light: #000000;
$joplin-color-error-light: #ff0000;
$joplin-color-error2-light: #ff6c6c;
$joplin-color-correct-light: #008000;
$joplin-color-warn-light: #e45752;
$joplin-color-warn2-light: #ffcb81;
$joplin-color-warn-url-light: #155bda;

/*Background colours*/
$joplin-background-color-light: #ffffff;
$joplin-background-color2-light: #313640;
$joplin-background-color3-light: #f4f5f6;
$joplin-background-color4-light: #ffffff;
$joplin-header-background-color-light: #f0f0f0;
$joplin-background-color-transparent-light: #ffffffe6;
$joplin-odd-background-color-light: #eeeeee;
$joplin-selected-color-light: #e5e5e5;
$joplin-selected-color2-light: #131313;
$joplin-background-color-hover3-light: #cbdaf1;

/*Component colours*/
$joplin-divider-color-light: #dddddd;
$joplin-table-background-color-light: #f7f7f7;
$joplin-code-background-color-light: #f3f3f3;
$joplin-code-border-color-light: #dcdcdc;

/*Misc colours*/
$joplin-search-marker-color-light: #000000;
$joplin-search-marker-background-color-light: #f7d26e;
$joplin-warning-background-color-light: #ffd08d;
$joplin-raised-color-light: #222222;
$joplin-raised-background-color-light: #e5e5e5;
$joplin-text-selection-color-light: #0096ff;
