//--joplin-appearance: light
$light-selected-text1: #d9d9d9; //?codemirror-selected
$light-selected-text2: #d7d4f0; //?codemirror-focused
$light-selected-text3: #c8c8c8; //?????
$light-selected-text4: #0096ff; //?--joplin-text-selection-color
$light-match-searchword: #cf3f00;
$light-failed-find: #ffd08d;
$light-find-marker1: #000000;
$light-find-marker2: #f7d26e;


//--joplin-appearance: Dark
$dark-default-font: #dddddd; //?--joplin-color
