//--joplin-appearance: light
$light-default-font: #32373f; //?--joplin-color
$light-inverted-font: #ffffff; //?--joplin-color2
$light-inverted-font-80opc: #ffffffcc;
$light-inverted-font-50opc: #ffffff80;
$light-inverted-font-40opc: #ffffff66;
$light-button-blue: #2d6bdc; //?--joplin-color4
$light-button-white: #ffffff;
$light-comment-text: #7c8b9e; //?--joplin-color-faded
$light-editor-items: #738598; //?--joplin-color3
$light-editor-items-33opc: #73859854;
$light-editor-urltext: #155bda; //?--joplin-url-color
$light-editor-urllink: #155bda80;
$light-editor-monospace: #000000; //?--joplin-code-color

//--joplin-appearance: Dark
$dark-default-font: #dddddd; //?--joplin-color
$dark-default2-font: #ffffff; //?--joplin-color2
$dark-default2-font-80opc: #ffffffcc;
$dark-default2-font-50opc: #ffffff80;
$dark-default2-font-40opc: #ffffff66;
$dark-button-blue: #789fe9; //?--joplin-color4
$dark-button-black: #1d2024;
$dark-comment-text: #999999; //?--joplin-color-faded
$dark-editor-items: #2e3138; //?--joplin-color3
$dark-editor-items-33opc: #2e313854;
$dark-editor-urltext: #a6a6ff; //?--joplin-url-color
$dark-editor-urllink: #a6a6ff80;
$dark-editor-monospace: #ffffff; //?--joplin-code-color
