//--joplin-appearance: light
$light-background-colour: #ffffff; //?--joplin-background-color
$light-background-colour-50opc: #ffffff80;
$light-background-colour2: #313640; //?--joplin-background-color2
$light-background-colour3: #f4f5f6; //?--joplin-background-color3
$light-selected-colour1: #e5e5e5; //?--joplin-selected-color
$light-selected-colour2: #131313; //?--joplin-selected-color2
$light-divider-colour: #dddddd; //?--joplin-divider-color
$light-button-colour1: #2d6dbc; //?--joplin-color4
$light-button-colour2: #ffffff; //?--joplin-color2
$light-scrollthumb-colour1: #64646454; //?::webkit-scrollbar-thumb
$light-scrollthumb-colour2: #646464bf; //?::webkit-scrollbar-thumb:hover
$light-scrollbarselected-colour: #0000001a; //?::webkit-scrollbar-track:hover

//--joplin-appearance: Dark
$dark-default-font: #dddddd; //?--joplin-color
