@use 'styleguidevariables' as sgv;
@use 'deskbasecolours' as dbc;

html {
  font-family: sgv.$font-family;
  color: sgv.$font-defaultcolour;
  background-color: sgv.$bg-colour;
  min-width: 800px;
  margin: 50px;
}

h1 {}

h2 {
  //margin-left: 15px;
}

p {
  margin-left: 15px;
}

.header-section {
  background-color: sgv.$bg-colour2;
  border: sgv.$header-borders;
  border-radius: sgv.$header-border-radius;
  height: 150px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 60% 40%;
  justify-content: flex-start;

  h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 5px;
    padding: 10px;
  }

  p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 5px;
    padding: 10px;
  }

  .joplin-logo {
    height: 125px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: right;
    margin: auto;
    padding: 10px;
  }
}

.inline-examples {
  background-color: sgv.$bg-colour2;
  border: sgv.$section-borders;
  border-radius: sgv.$section-border-radius;
  padding: 15px;
/*Base Colours*/
/*Light theme*/
/*Text colours*/
  .joplin-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-light);
  }
  .joplin-color2-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color2-light);
  }
  .joplin-color3-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color3-light);
  }
  .joplin-color4-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color4-light);
  }
  .joplin-color-bright-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-bright-light);
  }
  .joplin-color2-bright-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color2-bright-light);
  }
  .joplin-url-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-url-color-light);
  }
  .joplin-color-faded-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-faded-light);
  }
  .joplin-code-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-code-color-light);
  }
  .joplin-color-error-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-error-light);
  }
  .joplin-color-error2-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-error2-light);
  }
  .joplin-color-correct-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-correct-light);
  }
  .joplin-color-warn-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-warn-light);
  }
  .joplin-color-warn2-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-warn2-light);
  }
  .joplin-color-warn-url-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-color-warn-url-light);
  }
  /*Background colours*/
  .joplin-background-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-background-color-light);
  }
  .joplin-background-color2-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-background-color2-light);
  }
  .joplin-background-color3-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-background-color3-light);
  }
  .joplin-background-color4-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-background-color4-light);
  }
  .joplin-header-background-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-header-background-color-light);
  }
  .joplin-background-color-transparent-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-background-color-transparent-light);
  }
  .joplin-odd-background-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-odd-background-color-light);
  }
  .joplin-selected-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-selected-color-light);
  }
  .joplin-selected-color2-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-selected-color2-light);
  }
  .joplin-background-color-hover3-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-background-color-hover3-light);
  }
  /*Component colours*/
  .joplin-divider-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-divider-color-light);
  }
  .joplin-table-background-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-table-background-color-light);
  }
  .joplin-code-background-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-code-background-color-light);
  }
  .joplin-code-border-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-code-border-color-light);
  }
  .joplin-search-marker-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-search-marker-color-light);
  }
  .joplin-search-marker-background-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-search-marker-background-color-light);
  }
  .joplin-warning-background-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-warning-background-color-light);
  }
  .joplin-raised-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-raised-color-light);
  }
  .joplin-raised-background-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-raised-background-color-light);
  }
  .joplin-text-selection-color-light {
    @include sgv.inline-colourblock-example (dbc.$joplin-text-selection-color-light);
  }
}

.font-examples {
    background-color: sgv.$bg-colour2;
    border: sgv.$section-borders;
    border-radius: sgv.$section-border-radius;
    padding: 15px;

  div {
    margin: 10px;
  }

  .desktop-font-1 {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
  }
  .desktop-font-2 {
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
  }
  .desktop-font-3 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
  }
  .desktop-font-4 {
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
  }
  .desktop-font-5 {
    font-family: Avenir, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
  }
  .desktop-font-6 {
    font-family: Ubuntu, Arial;
    font-size: 13.333px;
    font-weight: normal;
  }
  .desktop-font-7 {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
  }
  .desktop-font-8 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
  }
  .desktop-font-9 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
  }
  .desktop-font-10 {
    font-family: Roboto;
    font-size: 15.6px;
    font-weight: bold;
  }
  .desktop-font-11 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
  }
  .desktop-font-12 {
    font-family: Roboto;
    font-size: 27.2px;
    font-weight: bold;
  }
  .desktop-font-13 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
  }
  .desktop-font-14 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
  }
  .desktop-font-15 {
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
  }
}
