/*Generic settings for the main page - not necessarily related to apps or website*/
/*Colours*/
/*Font settings*/
/*Divs + section formatting*/
/*Mixins*/
/*To format each inline example element*/
/*Base colours from the :root CSS set from ???.ts*/
/*Light theme*/
/*Text Colours*/
/*Background colours*/
/*Component colours*/
/*Misc colours*/
html {
  font-family: "Montserrat", sans-serif;
  color: #32373f;
  background-color: #f4f5f6;
  min-width: 800px;
  margin: 50px;
}

p {
  margin-left: 15px;
}

.header-section {
  background-color: #ffffff;
  border: 2px solid #32373f;
  border-radius: 15px;
  height: 150px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 60% 40%;
  justify-content: flex-start;
}
.header-section h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 5px;
  padding: 10px;
}
.header-section p {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 5px;
  padding: 10px;
}
.header-section .joplin-logo {
  height: 125px;
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
  justify-self: right;
  margin: auto;
  padding: 10px;
}

.inline-examples {
  background-color: #ffffff;
  border: 1px solid #32373f;
  border-radius: 15px;
  padding: 15px;
  /*Base Colours*/
  /*Light theme*/
  /*Text colours*/
  /*Background colours*/
  /*Component colours*/
}
.inline-examples .joplin-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #32373f;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color2-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color2-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color3-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color3-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #738598;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color4-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color4-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #2d6bdc;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color-bright-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-bright-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color2-bright-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color2-bright-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-url-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-url-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #155bda;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color-faded-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-faded-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #7c8b9e;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-code-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-code-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color-error-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-error-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ff0000;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color-error2-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-error2-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ff6c6c;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color-correct-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-correct-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #008000;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color-warn-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-warn-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #e45752;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color-warn2-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-warn2-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ffcb81;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-color-warn-url-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-color-warn-url-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #155bda;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-background-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-background-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-background-color2-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-background-color2-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #313640;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-background-color3-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-background-color3-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #f4f5f6;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-background-color4-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-background-color4-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-header-background-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-header-background-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-background-color-transparent-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-background-color-transparent-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffffe6;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-odd-background-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-odd-background-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-selected-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-selected-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-selected-color2-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-selected-color2-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #131313;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-background-color-hover3-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-background-color-hover3-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #cbdaf1;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-divider-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-divider-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #dddddd;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-table-background-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-table-background-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-code-background-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-code-background-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-code-border-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-code-border-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #dcdcdc;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-search-marker-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-search-marker-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-search-marker-background-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-search-marker-background-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #f7d26e;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-warning-background-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-warning-background-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #ffd08d;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-raised-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-raised-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #222222;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-raised-background-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-raised-background-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}
.inline-examples .joplin-text-selection-color-light {
  height: 25px;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
}
.inline-examples .joplin-text-selection-color-light::before {
  content: "";
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #0096ff;
  border-radius: 10px;
  border: 1px solid #32373f;
  margin-right: 25px;
}

.font-examples {
  background-color: #ffffff;
  border: 1px solid #32373f;
  border-radius: 15px;
  padding: 15px;
}
.font-examples div {
  margin: 10px;
}
.font-examples .desktop-font-1 {
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
}
.font-examples .desktop-font-2 {
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
}
.font-examples .desktop-font-3 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
}
.font-examples .desktop-font-4 {
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
}
.font-examples .desktop-font-5 {
  font-family: Avenir, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.font-examples .desktop-font-6 {
  font-family: Ubuntu, Arial;
  font-size: 13.333px;
  font-weight: normal;
}
.font-examples .desktop-font-7 {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
}
.font-examples .desktop-font-8 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
.font-examples .desktop-font-9 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
.font-examples .desktop-font-10 {
  font-family: Roboto;
  font-size: 15.6px;
  font-weight: bold;
}
.font-examples .desktop-font-11 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
}
.font-examples .desktop-font-12 {
  font-family: Roboto;
  font-size: 27.2px;
  font-weight: bold;
}
.font-examples .desktop-font-13 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
}
.font-examples .desktop-font-14 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}
.font-examples .desktop-font-15 {
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
}

/*# sourceMappingURL=styleguide.css.map */
